{
    email radionovich.arkadiy@mail.ru
}

https://xn----dtbhcghdehg5ad2aogq.xn--p1ai, https://www.xn----dtbhcghdehg5ad2aogq.xn--p1ai {
    encode gzip

    reverse_proxy app:3000 {
        transport http {
            response_header_timeout 120s
            read_timeout 120s
            write_timeout 120s
            dial_timeout 30s
        }
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}