{
    email radionovich.arkadiy@mail.ru
}

https://xn----dtbhcghdehg5ad2aogq.xn--p1ai, https://www.xn----dtbhcghdehg5ad2aogq.xn--p1ai {
    encode gzip
    reverse_proxy app:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}