version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: ozersk
      POSTGRES_USER: ozersk_user
      POSTGRES_PASSWORD: 2121212q
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ozersk_user -d ozersk"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_AUTH_VK_REDIRECT_URI: ${NEXT_PUBLIC_AUTH_VK_REDIRECT_URI}
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - AUTH_SECRET=${AUTH_SECRET}
      - NEXTAUTH_DEBUG=${NEXTAUTH_DEBUG}
      - AUTH_VK_ID=${AUTH_VK_ID}
      - AUTH_VK_SECRET=${AUTH_VK_SECRET}
      - AUTH_VK_REDIRECT_URI=${AUTH_VK_REDIRECT_URI}
      - NEXT_PUBLIC_AUTH_VK_REDIRECT_URI=${NEXT_PUBLIC_AUTH_VK_REDIRECT_URI}
      - YADISK_OAUTH_TOKEN=${YADISK_OAUTH_TOKEN}
      - MEDIA_BASE_DIR=${MEDIA_BASE_DIR}
      - MEDIA_PUBLIC_CACHE_TTL_MIN=${MEDIA_PUBLIC_CACHE_TTL_MIN}
      - IP_HASH_SALT=${IP_HASH_SALT}
      - EMAIL_SERVER=${EMAIL_SERVER}
      - EMAIL_FROM=${EMAIL_FROM}
      - PASSWORD_RESET_SECRET=${PASSWORD_RESET_SECRET}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./prisma:/app/prisma

  caddy:
    image: caddy:2-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app

volumes:
  postgres_data:
  caddy_data:
  caddy_config: